body {
	max-width: 790px;
	background-color: #afafaf;
	margin: auto;
}

form {
    align-content: center;
    margin-left : 10vw;
    margin-top: 18%;
    width: 60%;
    background-color: lightblue;
    text-align: center;
    padding: 20px;
  }
  
  input, textarea {
    padding: 12px;  
    margin: 6px 6px 6px 0;
  }

  input[type=submit] {
    background-color: green;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=reset] {
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: darkgreen;
    color: lightblue;
  }
  
  input[type=reset]:hover {
    background-color: white;
    color: blue;
  }

  .topnav {
    margin-top: 5%;
    width:auto;
    background-color: #333;
    overflow: hidden;
    
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }

.topnav a:active{
    color: brown;
    background-color: #f1f1f1;
    
}

.topnav a:hover{
    color: red;
    background-color: #f1f1f1;
    
}