body {
	max-width: 790px;
	background-color: #afafaf;
	margin: auto;
}

h1 {
	text-decoration: underline;
	margin: 50px;
	text-align: center;
	font-size: 75px;
	text-shadow: 100px 10px 20px #808080;
}

li {
    border: 2px solid black;
    margin: 2px;
    padding: 12px;
	width: 100px;
}
  
ul {
    display: inline-flex;
    list-style: none;
    padding: 0;
    border: 3px solid cyan;
	margin-left: 75%;
} 

p {
	margin: 50px;
	font-size: large;
}

input.search {
	text-align: center;
	width: 600px;
	padding: 10px 8px;
	border-radius: 6px;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-right: 2px solid #aaa;
	border-bottom: 2px solid #aaa;
	background-image: none;
	font-size: 25px;
}


div.center {
	text-align: center;
}


hr {
	border: 2px dashed black;
	width: 780px
}

a:link {
    color: violet;
}
  
a:visited {
    color: blue;
}

a:hover {
    color: red;
}